<!DOCTYPE HTML>
<html lang="pt-br">

<html>
	<head>
		<title>Ilearn-cursos</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="css/main.css" />
		<link rel="shortcut icon" type="imagex/png" href="images/diamante.png">
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/">Ilearn</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="cursos.html">Cursos</a></li>
								<li><a href="sobre.html">Sobre</a></li>
								
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Wrapper -->
					<section id="wrapper">
						<header>
							<div class="inner">
								<h2>Cursos disponiveis </h2>
								<p>As aulas serão gratuitas voce tera somente que pagar o seu certificado apos a finalizaçao do curso.</p>
							</div>
						</header>

						<!-- Content -->
							<div class="wrapper">
								<div class="inner">

									<h3 class="major">As video aulas são:</h3>
									<p>Elas seram fornecidas por professores qualificados, onde buscam aumentar o seu publico e irá fornecer o suporte(video aulas ,a materias do cursos) juntamento com a introducao a materia .</p>

	

									<h3 class="major">O curso é gratuito :</h3>
									<p>Como sabemos que estamos em tempos nao muito agradaveis , os cursos fornecidos serao gratuitos, voce tera que pagar apenas o certificado no final do curso, isso nao interfira nas video aulas, só a validaçao que fica por sua decisao .</p>
									
									

									<section class="features">
										<article>
											<a class="image"><img src="images/pic01.jpg" alt="" /></a>
											<h3 class="major">Edicao de video</h3>
											<p>A edição de vídeo é a manipulação e o arranjo das capturas de vídeo. A edição de vídeo é usada para estruturar e apresentar todas as informações de vídeo, incluindo filmes e programas de televisão, anúncios em vídeo e ensaios em vídeo. </p>
											<a href="../../aulas/_curso1/aula1.html" class="special">começar</a>
										</article>
										
										<article>
											<a class="image"><img src="images/pic02.jpg" alt="" /></a>
											<h3 class="major">Edicao de imagens</h3>
											<p>A Edição é a alteração/manuseamento de determinado conteúdo tendo por seu documento pessoal objectivo um uso determinado. Habitualmente o termo é mais relacionado com a edição de texto, ou a transformação de um manuscrito em formato comercializável e reprodutível, como um livro </p>
											<a href="../../aulas/_curso2/aula1.html" class="special">começar</a>
										</article>
										<article>
											<a class="image"><img src="images/pic03.jpg" alt="" /></a>
											<h3 class="major">Edicao de audio</h3>
											<p>O software de edição de áudio é um software que permite editar e gerar dados de áudio. O software de edição de áudio pode ser implementado completa ou parcialmente como uma biblioteca, como um aplicativo de computador, como um aplicativo da web ou como um módulo de kernel carregável. </p>
											<a href="../../aulas/_curso3/aula1.html" class="special">começar</a>
										</article>
									</section>
								</div>
								</div>
							</div>

					</section>

				<!-- Footer -->
				<section id="footer">
					<br>
						<br>
						<br>
						<br>
						<br>
						<br>
				</section>

		</div>

	<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.scrollex.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>

</body>
</html>