<!DOCTYPE HTML>
<html lang="pt-br">


<html>
	<head>
		<title>Ilearn</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="shortcut icon" type="imagex/png" href="images/diamante.png">
  
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<h1><a href="/">Ilearn</a></h1>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<div class="inner">
							<h2>Menu</h2>
							<ul class="links">
								<li><a href="index.html">Home</a></li>
								<li><a href="cursos.ejs">cursos</a></li>
								<li><a href="sobre.ejs">Sobre</a></li>
								<li><a href="#">Sair</a></li>

								
							</ul>
							<a href="#" class="close">Close</a>
						</div>
					</nav>

				<!-- Banner -->
					<section id="banner">
						<div class="inner">
							<div class="logo"><span class="icon fa-gem"></span></div>
							<h2>Bem vindo a Ilearn!</h2>
							<p>A  sua plataforma de cursos <a href="#"> online.</a></p>
						</div>
					</section>

				<!-- Wrapper -->
					<section id="wrapper">

						<!-- 1 -->
							<section id="one" class="wrapper spotlight style1">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic01.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Edição de vídeo</h2>
										<p>A edição de vídeo é a manipulação e o arranjo das capturas de vídeo. A edição de vídeo é usada para estruturar e apresentar todas as informações de vídeo, incluindo filmes e programas de televisão, anúncios em vídeo e ensaios em vídeo.</p>
										<a href="cursos.html" class="special">saber mais</a>
									</div>
								</div>
							</section>

						<!-- 2 -->
							<section id="two" class="wrapper alt spotlight style2">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic02.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Edição de foto</h2>
										<p>A Edição é a alteração/manuseamento de determinado conteúdo tendo por seu documento pessoal objectivo um uso determinado. Habitualmente o termo é mais relacionado com a edição de texto, ou a transformação de um manuscrito em formato comercializável e reprodutível, como um livro.</p>
										<a href="cursos.html" class="special">saber mais</a>
									</div>
								</div>
							</section>

						<!-- 3 -->
							<section id="three" class="wrapper spotlight style3">
								<div class="inner">
									<a href="#" class="image"><img src="images/pic03.jpg" alt="" /></a>
									<div class="content">
										<h2 class="major">Edição de musica</h2>
										<p>A edição de áudio é um trabalho técnico e perceptivo, que visa a organização de materiais gravados para a produção de uma faixa sonora.</p>
										<a href="cursos.html" class="special">saber mais</a>
									</div>
								</div>
							</section>

						<!-- 4 -->
							<section id="four" class="wrapper alt style1">
								<div class="inner">
									<h2 class="major">veja oque esta por vir</h2>
									<p>A linguagem de programação é um método padronizado, formado por um conjunto de regras sintáticas e semânticas, de implementação de um código fonte - que pode ser compilado e transformado em um programa de computador, ou usado como script interpretado - que informará instruções de processamento ao computador.</p>
									<section class="features">
										<article>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
											<h3 class="major">PHP</h3>
											<p>PHP é uma linguagem interpretada livre, usada originalmente apenas para o desenvolvimento de aplicações presentes e atuantes no lado do servidor, capazes de gerar conteúdo dinâmico na World Wide Web.</p>
											<a href="#" class="special">em breve</a>
										</article>
										<article>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
											<h3 class="major">HTML</h3>
											<p>HTML abreviação para a expressão inglesa HyperText Markup Language, que significa: "Linguagem de Marcação de Hipertexto" é uma linguagem de marcação utilizada na construção de páginas na Web..</p>
											<a href="#" class="special">em breve</a>
										</article>
								
									</section>
									<ul class="actions">
										<li><a href="#" class="button">veja mais</a></li>
									</ul>
								</div>
							</section>

					</section>

				<!-- Footer -->
					<section id="footer">
						<br>
						<br>
						<br>
						<br>
						<br>
						<br>
					</section>

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>