<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilearn-Registrar</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<link rel="stylesheet"  href="/css/login.css" />
	<link rel="shortcut icon" type="imagex/png" href="images/diamante.png">
</head>

<body>
	

<div id="lg">
        <h1>Registrar</h1>
		
		<div class="form-wrapper">
        <form>
         <div class="input-block">
		<label for="email">Nome:</label>
		<input type="nome" name="nome" id="nome" placeholder="Digite seu nome" autocomplete="0ff">
		<label for="email">E-mail:</label>
		<input type="email" name="email" id="email" placeholder="Digite seu e-mail" autocomplete="0ff">
		<label for="password">Senha:</label>
		<input type="password" name="password" id="password" placeholder="Digite sua senha">
		<label for="password">Confirmar senha:</label>
		<input type="password" name="password" id="password" placeholder="Confirme sua senha">
	

		<input type="submit" class="login">
		
		</form>		
		
		<div id="register-container">
		<P><a href="/login">ja tenho uma conta</a></P>
</div>

</body>

</html>